<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        About Page
    </title>
</head>

<body>
    {{> header}}
    <p>
        Hello, is there anybody in there?
    </p>

    {{!-- Using a partial -> syntax: {{> partialName}} --}} {{> footer}}
</body>

</html>