<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        Home Page
    </title>
</head>

<body>
    {{> header}}
    <p>
        {{!-- Passing variables to helper function => nameOftheHelperFunction arg1 arg2 so on (name of helper function followed by
        a list of arguments seperated by space) --}} {{screamIt 'Welcome to my awesome website'}}
    </p>

    {{!-- Using a partial -> syntax: {{> partialName}} --}} {{> footer}}
</body>

</html>